@import "tailwindcss";

:root {
  --background: #FEFEFE;
  --foreground: #020202;
  --skyBlue: #2980B9;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), sans-serif;
}

h2 {
  font: 600 3.25rem/1.3 var(--font-poppins), sans-serif;
}

h3 {
  font: 600 2.25rem/1.3 var(--font-poppins), sans-serif;
}

h4 {
  font: 600 1.5rem/1.3 var(--font-poppins), sans-serif;
}

.gradient-bg {
  background: var(--skyBlue); 
  background: -webkit-linear-gradient(to right, var(--background) 10%, #6DD5FA 70%, var(--skyBlue));
  background: linear-gradient(to right, var(--background) 10%, #6DD5FA 70%, var(--skyBlue)); 
}

.black-bg {
  background-color: var(--foreground);
}
